<!-- Footer -->
<footer class="page-footer font-small blue pt-4 bg-secondary">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase text-white">Localidad</h5>
          <p class="text-white">Armenia Quindio Colombia</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase text-white">Redes Sociales</h5>
  
          <ul class="list-unstyled">
            <li>
                <img src="https://cdn.icon-icons.com/icons2/836/PNG/512/Facebook_icon-icons.com_66805.png" alt="" class="img-circle" width="20px" height="20px">&nbsp;
              <a href="#!" class="text-white">Facebook</a>
            </li>
            <li>
                <img src="https://st.depositphotos.com/1144386/4344/v/950/depositphotos_43444317-stock-illustration-original-twitter-bird-icon.jpg" alt="" class="img-circle" width="20px" height="20px">&nbsp;
              <a href="#!" class="text-white">Twitter</a>
            </li>
            <li>
                <img src="https://upload.wikimedia.org/wikipedia/commons/5/58/Instagram-Icon.png" alt="" class="img-circle" width="20px" height="20px">&nbsp;
              <a href="#!" class="text-white">Instagram</a>
            </li>
            
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase text-white">Contactos:</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-white">gustavoadolfovilladacamargo@gmail.com</a>
            </li><br>
            <li class="text-white">
               <p> Medellín: (57-4) 510 9000.</p>
               <p> Bogotá: (57-1) 343 0000.</p>
               <p> Barranquilla: (57-5)361 8888.</p>
              </li>
            <li>
            
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 text-white">© 2019 Copyright: Gustavo Adolfo Villada
    </div>
    <!-- Copyright -->
  
  </footer>
