<div class="card">
    <div class="card-body">
    <div class="col">
        <div class="card-header">
        <h2 class="text-center">Editar Estado De La Linea Telefonica</h2>
        </div><br><br>
        <form action="">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="cedula">Cedula:</label>
                    <input type="text" placeholder="Cedula" name="cedula" class="form-control" id="cedula" required>
                  </div>
                
                    <div class="form-group col-md-4">
                      <label for="lineat">Nro de Linea Telefonica</label>
                      <input type="text" id="start" name="trip-start" placeholder="Numero de Linea Telefonica" name="lineat" class="form-control" id="lineat" required>
                    </div>
                    <div class="form-group col-md-4" style="margin-top: 32px">

                    <button class="btn btn-secondary"  routerLink="">Consultar</button>
                </div>

            </div>

            <div class="form-row">
            <div class="form-group col-md-6">
                <label for="estado">Estado de Linea:</label>
                <select name="select" id="estado" class="form-control">
                  <option value="valor1" selected>Activa</option> 
                  <option value="valor2">Suspendida</option>
                </select>
              </div><br>
            </div>

          <button class="btn btn-secondary">Actualizar</button>
        </form>
      </div>
    </div>
    </div>

